<template>
  <div>
    <v-app class="home grey lighten-3">
      <div style="max-width: 630px; margin: auto">
        <v-container fluid class="ctn" grid-list-lg white>
          <table style="width: 100%">
            <tr>
              <td style="text-align: left"><h1>Waktu Shalat</h1></td>
              <td style="text-align: right">
                <ul>
                  <li style="text-align: right; list-style-position: inside">
                    Jakarta Pusat
                  </li>
                </ul>
              </td>
            </tr>
          </table>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card class="bg white--text">
                <v-layout row wrap>
                  <v-flex xs12 md6>
                    <v-card-title primary-title style="text-align: center">
                      <h3 align="center" style="z-index: 4">Current Time</h3>
                      <tr
                        align="center"
                        bgcolor="transparent"
                        style="z-index: 4"
                      >
                        <td align="center">
                          <input type="text" size="2" v-model="hours" />
                        </td>
                        <td align="center">
                          <input type="text" size="2" v-model="minutes" />
                        </td>
                        <td align="center">
                          <input type="text" size="2" v-model="seconds" />
                        </td>
                        <td align="center">
                          <input type="text" size="2" v-model="ampm" />
                        </td>
                      </tr>
                    </v-card-title>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-img
                      class="masjid"
                      max-height="250"
                      max-width="180"
                      src="~@/assets/images/masjid.png"
                    ></v-img>
                    <v-img
                      class="notif"
                      max-height="80"
                      max-width="80"
                      src="~@/assets/images/notif.png"
                    ></v-img>
                    <v-img
                      class="kiblat"
                      max-height="80"
                      max-width="70"
                      src="~@/assets/images/arah.png"
                    ></v-img>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <table style="width: 100%">
              <tr>
                <td style="text-align: left"><h2>Muharram 1442</h2></td>
                <td style="text-align: right"><h2>Desember 2020</h2></td>
              </tr>
            </table>
            <v-flex xs12>
              <v-card>
                <vue-horizontal-calendar lang="en"></vue-horizontal-calendar>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-card>
                <div
                  v-for="solat in shalat"
                  :key="solat.title"
                  class="text-center d-flex align-center justify-space-around"
                  style="
                    padding: 20px;
                    border: solid 2px #fff;
                    background-color: #ededfa;
                  "
                >
                  <img
                    :src="require(`@/assets/images/${solat.imga}`)"
                    style="width: 30px"
                  />
                  <p>{{ solat.title }}</p>
                  <p>{{ solat.time }}</p>
                  <img
                    :src="require(`@/assets/images/${solat.imgb}`)"
                    style="width: 20px"
                  />
                </div>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </v-app>
  </div>
</template>

<script>
import VueHorizontalCalendar from "vue-horizontal-calendar";

export default {
  name: "Home",
  components: {
    VueHorizontalCalendar,
  },
  data() {
    return {
      playIt: false,
      hours: "00",
      minutes: "00",
      seconds: "00",
      ampm: "pm",
      musicsrc: "alarm.mp3",
      message: "aaa",
      alarm: [
        {
          name: "alarm_subuh",
          hr: "04",
          mts: "26",
          ssecs: "00",
          am_pm: "am",
        },
        {
          name: "alarm_terbit",
          hr: "05",
          mts: "43",
          ssecs: "00",
          am_pm: "am",
        },
        {
          name: "alarm_dzuhur",
          hr: "11",
          mts: "46",
          ssecs: "00",
          am_pm: "am",
        },
        {
          name: "alarm_ashar",
          hr: "02",
          mts: "57",
          ssecs: "00",
          am_pm: "pm",
        },
        {
          name: "alarm_maghrib",
          hr: "05",
          mts: "49",
          ssecs: "00",
          am_pm: "pm",
        },
        {
          name: "alarm_isya",
          hr: "06",
          mts: "58",
          ssecs: "00",
          am_pm: "pm",
        },
      ],
      shalat: [
        {
          imga: "subuh.png",
          title: "Subuh",
          time: "4.26",
          imgb: "kanan.png",
        },
        {
          imga: "terbit.png",
          title: "terbit",
          time: "5.43",
          imgb: "kanan.png",
        },
        {
          imga: "dzuhur.png",
          title: "dzuhur",
          time: "11.46",
          imgb: "kanan.png",
        },
        {
          imga: "ashar.png",
          title: "ashar",
          time: "14.57",
          imgb: "kanan.png",
        },
        {
          imga: "maghrib.png",
          title: "maghrib",
          time: "17.49",
          imgb: "kanan.png",
        },
        {
          imga: "isya.png",
          title: "isya",
          time: "18.58",
          imgb: "kanan.png",
        },
      ],
    };
  },
  mounted() {
    this.almclktime();
  },
  created() {
    this.setAlarm();
    this.almclktime();
  },
  methods: {
    setAlarm() {
      var vm = this;
      var timeNow = `${vm.hours}${vm.minutes}${vm.seconds}${vm.ampm}`;
      for (var i = 0; i < vm.alarm.length; i++) {
        var timeSholat = `${vm.alarm[i].hr}${vm.alarm[i].mts}${vm.alarm[i].ssecs}${vm.alarm[i].am_pm}`;
        if (timeNow == timeSholat) {
          this.sendMessage(vm.alarm[i].name);
        }
      }
      setTimeout(vm.setAlarm, 1000);
    },
    almclktime() {
      var vm = this;
      var now = new Date();
      var hour = now.getHours();
      var min = now.getMinutes();
      var sec = now.getSeconds();
      if (min <= 9) {
        min = "0" + min;
      }
      if (sec <= 9) {
        sec = "0" + sec;
      }
      if (hour > 12) {
        hour = 12;
        var add = "am";
      } else {
        hour = now.getHours();
        add = "am";
      }
      if (hour == 12) {
        add = "pm";
      }
      if (hour == 0) {
        hour = "12";
      }
      vm.hours = hour <= 9 ? "0" + hour : hour;
      vm.minutes = min;
      vm.seconds = sec;
      vm.ampm = add;
      setTimeout(vm.almclktime, 1000);
    },
    sendMessage(name) {
      if (name == "alarm_subuh") {
        alert("sudah subuh. ayo sholat!");
        return false;
      } else if (name == "alarm_terbit") {
        alert("sudah terbit. ayo sholat!");
        return false;
      } else if (name == "alarm_dzuhur") {
        alert("sudah dzuhur. ayo sholat!");
        return false;
      } else if (name == "alarm_ashar") {
        alert("sudah ashar. ayo sholat!");
        return false;
      } else if (name == "alarm_maghrib") {
        alert("sudah maghrib. ayo sholat!");
        return false;
      } else if (name == "alarm_isya") {
        alert("sudah isya. Ayo sholat!");
        return false;
      }
    },
  },
};
</script>
<style scoped>
h1,
h2,
h3,
p,
input {
  color: #7e7eda;
}
ul {
  color: #7e7eda;
  font-size: 20px;
  font-weight: bold;
}
.bg {
  background: url("~@/assets/images/a.png");
  width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/deep/ .horizontal-calendar .date-item {
  line-height: 12px !important;
}
/deep/ .choosed-day {
  background-color: #7e7eda !important;
}
/deep/ .v-application--wrap {
  display: block !important;
}
.v-sheet.v-card {
  border-radius: 25px;
}
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .ctn {
    height: 150vh;
  }
  .masjid {
    z-index: 1;
    position: absolute;
    top: -48px;
    bottom: 1px;
  }
  .notif {
    z-index: 1;
    position: absolute;
    right: -0.1px;
    bottom: -8px;
  }
  .kiblat {
    z-index: 1;
    position: absolute;
    left: 520px;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .ctn {
    height: 190vh;
  }
  .masjid {
    z-index: 1;
    position: absolute;
    top: -48px;
    bottom: 1px;
  }
  .notif {
    z-index: 1;
    position: absolute;
    right: -0.1px;
    bottom: -8px;
  }
  .kiblat {
    z-index: 1;
    position: absolute;
    left: 520px;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .ctn {
    height: 195vh;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .ctn {
    height: 190vh;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .ctn {
    height: 200vh;
  }
  .masjid {
    z-index: 1;
    position: absolute;
    top: -1px;
    bottom: 1px;
  }
  .notif {
    z-index: 1;
    position: absolute;
    right: -0.1px;
    bottom: -8px;
  }
  .kiblat {
    z-index: 1;
    position: absolute;
    right: -0.1px;
    top: -0.1px;
  }
}
</style>
