<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <h2>Test</h2>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
    <v-bottom-navigation :value="value" color="teal" grow fixed>
      <v-btn>
        <span>Home</span>

        <v-icon>mdi-home-outline</v-icon>
      </v-btn>

      <v-btn>
        <span>Shalat</span>

        <v-icon>mdi-weather-night</v-icon>
      </v-btn>

      <v-btn>
        <span>Quran</span>

        <v-icon>mdi-octagram-outline</v-icon>
      </v-btn>

      <v-btn>
        <span>Profile</span>

        <v-icon>mdi-circle-outline</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
// import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",

  components: {
    // HelloWorld,
  },

  data: () => ({
    value: 1,
  }),
};
</script>
<style scoped>
.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
  color: #7e7eda;
}
</style>
